body{
    width: 100dvw;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.alert-info{
    display: inline-block;
    background-color: #c2ffff;
    width: 90dvw;
    text-align: center;
    padding: 1em 0;
}
h1{
}
.nav-links{
    margin: 0;
    padding: 0;
}
ul>li{
    list-style: none;
    background-color: #c1c1c1;
    margin: .5em 0;
    text-align: center;
    width: 90dvw;
    padding: 1em 0;
}
div>img {
    width: 90dvw;
}
section{
    width: 90dvw;
}
footer{
    display: flex;
    align-items: center;
    width: 90dvw;
    margin-top: 10em;
}
footer>p{
    display: inline-block;
    flex-grow: 1;
}
i{
    padding: 0 0.25em;
}
@media screen and (min-width: 768px){
    body{
        align-items: center;
    }
    .hidden-on-desktop{
        visibility: hidden;
        margin: 0;
        padding: 0;
        line-height: 0;
    }
    header{
        width: 90dvw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links{
        display: flex;
        flex-flow: row;
    }
    ul>li{
        background-color: white;
        width: fit-content;
        margin: .5em;
    }
    main{
        width: 90dvw;
        display: flex;
    }
    section.main{
        margin: 0;
        padding-right: 2em;
    }
    section.sub-section{
        margin: 0;
        width: 40%;
    }
    footer{
        margin-top: 20em;
    }
}

